name: fear_greed_index_update

on:
  schedule:
    - cron: "0 23 * * *" # UTC 기준 23:00 (한국 시간 오전 8:00)
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Update News & Fear-Greed
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
        run: |
          python fear-greed/fearAndGreed.py
          python fear-greed/K-FearAndGreed.py
